<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{account.name}} </h5>
      </div>
      <p class="mb-1 p-2"> {{account.status}} </p>
      <div class="row mt-2">
        <div class="col-sm-12">
          <button class="btn btn-outline-secondary" (click)="on_update_status('active')">Active</button>
          <button class="btn btn-outline-secondary ml-2" (click)="on_update_status('inactive')">Inactive</button>
          <button class="btn btn-outline-secondary ml-2" (click)="on_update_status('disabled')">Disabled</button>
        </div>
      </div>
    </a>
  </div>