<div class="row mt-4 p-4 bg-light">
  <div class="col-md-6 card p-4">
    <div class="row p-2">
      <div class="col-sm-6 p-2">
        <p class="card-header-pills ml-2">Servers</p>
      </div>
      <div class="col-sm-6 text-sm-right">
        <button type="button" class="btn btn-primary my-2" (click)="on_reload_page()">Reload</button>
      </div>
    </div>
    <div class="list-group">
      <a [routerLink]="['/servers',5,'edit']" [queryParams]="{allowEdits: 1}" fragment="loading" class="list-group-item mb-1" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>
